body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background: url(img/background.jpg) no-repeat center center;
  overflow: hidden;
  height: 2000px;
  background-size: cover;
}

.slide {
  position: absolute;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity .8s;
  z-index: 0;
  flex-wrap: wrap;
}

.active {
  opacity: 1;
  z-index: 1;
}

.slide-menu {
  top: 13%;
  left: 7%;
  width: 93%;
  margin: 0;
  flex-direction: column;
}

.slide-menu__title {
  color: #fff;
  font: 700 57px/67px "Roboto", sans-serif;
  margin-bottom: 5px;
}

.slide-menu__subtitle {
  color: #fff;
  font: 400 19px/22px "Roboto", sans-serif;
  margin-bottom: 60px;
}

.slide-menu__content {
  position: relative;
}

.list-level {
  display: flex;
  flex-direction: column;
  margin-bottom: 91px;
  width: 30%;
}

.list-level__item {
  color: #fff;
  font: 700 50px/59px "Roboto", sans-serif;
  margin-bottom: 24px;
  position: relative;
  padding-left: 48px;
  transform: scale(1);
  transition: transform .3s ease;
}

.list-level__item:hover {
  transform: scale(1.1);
}

.list-level__radio {
  opacity: 0;
  position: absolute;
}

.list-level__rectangle {
  content: '';
  background-image: url(img/rectangle.svg);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 17px;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

.list-level__item:hover::before {
  content: '';
  background-image: url(img/rectangle.svg);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 17px;
  left: 0;
  cursor: pointer;
}

.start-btn {
  color: #fff;
  font: 700 32px "Roboto", sans-serif;
  padding: 29px 85px;
  background: #d62b2e;
  border: none;
  border-radius: 7px;
  transition: all .5s ease;
}

.start-btn:hover {
  color: #d62b2e;
  background-color: #fff;
  box-shadow: inset 0 0 0 4px #d62b2e;
}

.menu-card_one {
  position: absolute;
  left: 59%;
  top: 56%;
  transform: rotate(12deg);
}

.menu-card_two {
  position: absolute;
  left: 72%;
  top: 60%;
  transform: rotate(39deg);
}

.slide_easy {
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 49%;
  perspective: 1000px;
}

.slide_middle {
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 49%;
}

.slide_hard {
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82%;
}

.flip-card {
  position: relative;
  width: 218px;
  height: 341px;
  margin-bottom: 24px;
  transform-style: preserve-3d;
  transition: transform .4s;
  border-radius: 10px;
}

.flip-card:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-30px) rotateZ(-2deg);
}

.flip-card.flip {
  transform: rotateY(-180deg);
}

.flip-card__face,
.flip-card__back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card__back {
  transform: rotateY(180deg);
}



@media (max-height: 950px) {
  .menu-card_one {
    top: 23%;
  }

  .menu-card_two {
    top: 28%;
  }
}

@media (max-height: 794px) {
  .list-level {
    margin-bottom: 5%;
  }

  .menu-card_one {
    top: 2%;
  }

  .menu-card_two {
    top: 12%;
  }
}

@media (min-width: 1593px) {
  .menu-card_one {
    left: 55%
  }

  .menu-card_two {
    left: 67%;
  }

  .slide_hard {
    width: 77%;
  }
}

@media (max-width: 1355px) {
  .slide_easy {
    width: 66%;
  }

  .slide_middle {
    width: 64%;
  }

  .slide_hard {
    width: 78%;
  }

  .slide_hard .flip-card {
    width: 178px;
    height: 279px;
  }

  .menu-card_one {
    left: 53%;
  }

  .menu-card_two {
    left: 68%;
  }
}

@media (max-width: 1141px) {
  .slide_hard {
    width: 85%;
  }
}

@media (max-width: 1110px) {
  .menu-card_one {
    left: 47%;
  }

  .menu-card_two {
    left: 65%;
  }

  .slide_easy,
  .slide_middle {
    width: 77%;
  }

  .slide_hard .flip-card {
    width: 158px;
    height: 248px;
  }
}

@media (max-width: 935px) {
  .menu-card_one {
    left: 45%;
  }

  .menu-card_two {
    left: 64%;
  }

  .start-btn {
    padding: 29px 70px;
  }

  .slide_easy,
  .slide_middle {
    width: 86%;
  }

  .slide_hard .flip-card {
    width: 138px;
    height: 217px;
  }
}

@media (max-width: 870px) {
  .menu-card_one,
  .menu-card_two {
    display: none;
  }
}

@media (max-width: 815px) {
  .flip-card {
    width: 178px;
    height: 277px;
  }

  .slide_hard .flip-card {
    width: 108px;
    height: 170px;
  }

  .slide_hard {
    width: 80%;
  }
}

@media (max-width: 670px) {
  .slide-menu__subtitle {
    margin-bottom: 6%;
  }

  .list-level {
    margin-bottom: 5%;
  }

  .slide_hard {
    width: 94%;
  }

  .flip-card {
    width: 168px;
    height: 262px;
  }
}

@media (max-width: 600px) {
  .flip-card {
    width: 138px;
    height: 215px;
  }

  .slide_hard .flip-card {
    width: 88px;
    height: 138px;
  }
}

@media (max-width: 500px) {
  .slide-menu {
    top: 5%;
  }

  .slide-menu__title {
    line-height: 52px;
    font-size: 47px;
  }

  .slide-menu__subtitle {
    font-size: 15px;
  }

  .list-level {
    margin-bottom: 6%;
  }

  .list-level__item {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .start-btn {
    padding: 20px 57px;
    font-size: 20px;
  }

  .flip-card {
    width: 108px;
    height: 168px;
  }

  .slide_hard .flip-card {
    width: 68px;
    height: 107px;
  }
}

@media (max-width: 400px) {
  .flip-card {
    width: 88px;
    height: 137px;
  }

  .slide_hard {
    width: 90%;
    margin-bottom: 10px;
  }

  .slide_hard .flip-card {
    width: 58px;
    height: 91px;
  }
}

@media (max-width: 360px) {
  .slide-menu__title {
    font-size: 38px;
    line-height: 41px;
  }

  .slide-menu__subtitle {
    font-size: 10px;
    width: 90%;
  }

  .list-level {
    margin-bottom: 6%;
  }

  .list-level__item {
    font-size: 36px;
  }

  .flip-card {
    width: 78px;
    height: 121px;
  }
}

@media (max-width: 320px) {
  .slide_hard {
    width: 82%;
  }

  .slide_hard .flip-card {
    width: 44px;
    height: 69px;
  }
}
